aiofiles==0.4.0
bcrypt==3.1.7
cffi==1.12.3
Click==7.0
cryptography==2.3.1
dnspython==1.16.0
email-validator==1.0.4
et-xmlfile==1.0.1
fastapi==0.33.0
h11==0.8.1
httptools==0.0.13
idna==2.8
jdcal==1.4.1
openpyxl==2.6.2
passlib==1.7.1
pycparser==2.19
pydantic==0.30
PyJWT==1.7.1
python-multipart==0.0.5
scramp==1.1.0
six==1.12.0
starlette==0.12.0
Hypercorn==0.9.2
uvloop==0.12.2
websockets==7.0
